/* Link styles */
nav a {
    color: #007BFF;  /* Set color of links */
    text-decoration: none;  /* Remove underline */
}

nav a:hover {
    color: #FF6347;  /* Change color on hover */
    text-decoration: underline;  /* Add underline on hover */
}

/* Google Font (Roboto) */
body {
    font-family: 'Roboto', sans-serif;
}

/* Styling HTML tags */
h1 {
    color: #333;
    font-size: 2.5em;
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}


.one {
    background-color: #f0f0f0;  /* Light background from .highlight */
    padding: 5px;  /* Padding from highlight */
}


.two a {
    background-color: #333;  
    color: white; 
    text-decoration: none;  
}

.two a:hover {
    text-decoration: underline; 
}
.bold-text {
    font-weight: bold;
    font-size: 1.2em;
}

/* Grid Image Gallery */
.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-gallery img {
    width: 100%;
    border-radius: 8px;
}
#music-career img {
    width: 200px;
    clip-path: circle(50% at center); 
    border-radius: 8px;  
}


